Hosty - Proceso Optimizado una sola cara copy 2.json
{
  "name": "Hosty - Proceso Optimizado una sola cara copy 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c3958d2f-2bfe-4ed1-9f39-6959b1cd37e0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        96
      ],
      "id": "63fed31b-3275-48d1-9982-21072d7136a5",
      "name": "Webhook (Recibe Datos App)",
      "webhookId": "c3958d2f-2bfe-4ed1-9f39-6959b1cd37e0"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Reserva - {{ $json.body.property }} - {{ new Date().toISOString().split('T')[0] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1XWvlU6uqLcRkg5Z3DEGwzv1UfRTChvcd",
          "mode": "list",
          "cachedResultName": "DOCUMENTOS HUESPEDES HOSTY",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XWvlU6uqLcRkg5Z3DEGwzv1UfRTChvcd"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -768,
        96
      ],
      "id": "ed57edba-9864-4bc4-8a97-8badae470037",
      "name": "Crear Carpeta Reserva",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ctDxPAowP3WzS7N2",
          "name": "Google Drive n8n"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalizar y Preparar Archivo (Versión Robusta)\nconst body = $json.body || {};\nconst guest = body.client || null;\nconst bookingFolderId = $json.bookingFolderId || null;\n\nif (!guest) throw new Error('No se encontró el huésped en body.client');\n\n// Función segura para extraer la imagen base64\nconst parseDataUrl = (dataUrl) => {\n  if (!dataUrl || typeof dataUrl !== 'string') return null;\n  const parts = dataUrl.split(';base64,');\n  if (parts.length !== 2) return null;\n  \n  const mimeType = parts[0].replace('data:', '');\n  const base64Data = parts[1].replace(/\\s/g, ''); // Limpia espacios invisibles\n  \n  const extensiones = {\n    'image/jpeg': 'jpg', 'image/jpg': 'jpg', 'image/png': 'png',\n    'image/webp': 'webp', 'application/pdf': 'pdf'\n  };\n  \n  return {\n    mimeType,\n    data: base64Data,\n    ext: extensiones[mimeType] || 'bin'\n  };\n};\n\n// Intentamos con idFrontUrl o documentUrl\nconst img = guest.idFrontUrl || guest.documentUrl;\nconst doc = parseDataUrl(img);\n\nif (!doc) {\n  throw new Error(`No se pudo procesar la imagen para ${guest.fullName || guest.idNumber}. Verifique que se haya capturado correctamente.`);\n}\n\nconst out = {\n  ...guest,\n  property: body.property,\n  bookingFolderId,\n  fullName: guest.fullName || 'Huesped',\n  idNumber: guest.idNumber || 'SN'\n};\n\n// IMPORTANTE: Definimos 'id_front' explícitamente\nreturn {\n  json: out,\n  binary: {\n    id_front: {\n      data: doc.data,\n      mimeType: doc.mimeType,\n      fileName: `ID_${out.fullName.replace(/[^a-z0-9]/gi, '_')}.${doc.ext}`\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        96
      ],
      "id": "19e7cb2d-e067-4d4d-84ef-1e3e575cdcb2",
      "name": "Normalizar y Preparar Archivos"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1yPgVA_9jeBYf_pDt-HrYYRNBrzbDXam9G7wE-Sl28_I",
          "mode": "list",
          "cachedResultName": "Registro Huespedes Automatizacion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yPgVA_9jeBYf_pDt-HrYYRNBrzbDXam9G7wE-Sl28_I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yPgVA_9jeBYf_pDt-HrYYRNBrzbDXam9G7wE-Sl28_I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fullName": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.fullName }}",
            "idNumber": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.idNumber }}",
            "birthDate": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.birthDate }}",
            "nationality": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.nationality }}",
            "email": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.email }}",
            "phone": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.phone }}",
            "property": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.property }}",
            "idFrontUrl": "={{ $binary.id_front ? 'Archivo Adjunto' : 'No' }}",
            "nationalityMode": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.nationalityMode }}",
            "Date": "={{ $now.setZone('America/Bogota').toFormat('dd/LL/yyyy HH:mm') }}",
            "documentType": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.documentType }}",
            "countryOfOrigin": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.countryOfOrigin }}",
            "nextDestination": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.nextDestination }}",
            "phoneCountryCode": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.phoneCountryCode }}",
            "cityOfResidence": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.cityOfResidence }}",
            "flightNumber": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.flightNumber }}"
          },
          "matchingColumns": [
            "idNumber"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "property",
              "displayName": "property",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "documentType",
              "displayName": "documentType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "idNumber",
              "displayName": "idNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "birthDate",
              "displayName": "birthDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nationalityMode",
              "displayName": "nationalityMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nationality",
              "displayName": "nationality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "countryOfOrigin",
              "displayName": "countryOfOrigin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nextDestination",
              "displayName": "nextDestination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phoneCountryCode",
              "displayName": "phoneCountryCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cityOfResidence",
              "displayName": "cityOfResidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "flightNumber",
              "displayName": "flightNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idFrontUrl",
              "displayName": "idFrontUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        96
      ],
      "id": "5799ceb7-23bb-4eb9-88e8-b33cd897d88c",
      "name": "Guardar en Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "j0rEqx0aTYlyyldF",
          "name": "Google Sheets account 2.0"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.fullName || $json.idNumber }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.bookingFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        96
      ],
      "id": "70840d1d-f823-49bd-af6f-335d4817220a",
      "name": "Crear Carpeta Huesped",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ctDxPAowP3WzS7N2",
          "name": "Google Drive n8n"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Adjuntar guestFolderId (preservar binary)').item.json.email }}",
        "subject": "Confirmacion de Check in - Hosty",
        "message": "=<!doctype html>\n<html lang=\"es\">\n  <head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n    <title>Registro exitoso</title>\n  </head>\n  <body style=\"margin:0;padding:0;background-color:#f6f8fb;font-family:Arial, Helvetica, sans-serif;color:#111827;\">\n    <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"background-color:#f6f8fb;padding:24px 0;\">\n      <tr>\n        <td align=\"center\">\n          <table role=\"presentation\" width=\"640\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:640px;max-width:640px;background:#ffffff;border-radius:12px;overflow:hidden;box-shadow:0 6px 18px rgba(17,24,39,0.08);\">\n            <!-- Header -->\n            <tr>\n              <td style=\"padding:22px 28px;background:#ffffff;border-bottom:1px solid #e5e7eb;\">\n                <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">\n                  <tr>\n                    <td align=\"left\" style=\"vertical-align:middle;\">\n                      <img\n                        src=\"https://res.cloudinary.com/daauwbhzj/image/upload/v1768753359/Hosty_logo_ntehl5.jpg\"\n                        alt=\"Hosty\"\n                        width=\"80\"\n                        style=\"display:block;border:0;outline:none;text-decoration:none;height:auto;max-width:80px;\"\n                      />\n                    </td>\n                    <td align=\"Right\" style=\"vertical-align:midle;font-size:14px;color:#6b7280;\">\n                      Confirmación de registro\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Body -->\n            <tr>\n              <td style=\"padding:28px;\">\n                <h1 style=\"margin:0 0 12px 0;font-size:20px;line-height:28px;color:#111827;\">\n                  Registro exitoso\n                </h1>\n                <p style=\"margin:0 0 14px 0;font-size:14px;line-height:22px;color:#374151;\">\n                  Hola, <strong style=\"color:#111827;\">tu registro fue completado exitosamente</strong>.\n                </p>\n                <p style=\"margin:0 0 18px 0;font-size:14px;line-height:22px;color:#374151;\">\n                  Gracias por compartir tu información. En Hosty trabajamos para que tu experiencia sea ágil, segura y\n                  sin inconvenientes.\n                </p>\n\n                <div style=\"margin:18px 0;padding:14px 16px;background:#f9fafb;border:1px solid #e5e7eb;border-radius:10px;\">\n                  <p style=\"margin:0;font-size:13px;line-height:20px;color:#374151;\">\n                    Pronto recibiras las indicaciones para continuar con el proceso de check in.\n                  </p>\n                </div>\n\n                <p style=\"margin:18px 0 0 0;font-size:14px;line-height:22px;color:#374151;\">\n                  Cordialmente,<br />\n                  <strong style=\"color:#111827;\">Equipo Hosty</strong>\n                </p>\n              </td>\n            </tr>\n\n            <!-- Footer -->\n            <tr>\n              <td style=\"padding:18px 28px;background:#ffffff;border-top:1px solid #e5e7eb;\">\n                <p style=\"margin:0;font-size:12px;line-height:18px;color:#6b7280;\">\n                  Este es un mensaje automático de confirmación. Si no realizaste este registro, por favor contáctanos.\n                </p>\n              </td>\n            </tr>\n          </table>\n\n          <table role=\"presentation\" width=\"640\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"width:640px;max-width:640px;\">\n            <tr>\n              <td align=\"center\" style=\"padding:14px 0 0 0;font-size:12px;color:#9ca3af;\">\n                © Hosty. Todos los derechos reservados.\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        96
      ],
      "id": "6a398e97-31b9-4ded-8435-2046533308bb",
      "name": "Enviar Confirmacion",
      "webhookId": "b9bfb171-1773-4b59-9cce-965bf53afafc",
      "credentials": {
        "gmailOAuth2": {
          "id": "wcT8deRJSw31JDa8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Adjuntar guestFolderId (detectando nodo anterior automáticamente)\nconst guestFolderId = $json.id; \nconst idx = $itemIndex;\n\n// Lista de posibles nombres por si acaso\nconst posiblesNombres = [\n  'Normalizar y Preparar Archivos',\n  'Normalizar y preparar Archivos',\n  'Normalizar y Preparar Archivos ', // con espacio al final\n  'Normalizar y preparar Archivos ' // con espacio al final\n];\n\nlet src = null;\n\nfor (const nombre of posiblesNombres) {\n  try {\n    src = $items(nombre)[idx];\n    if (src) break;\n  } catch (e) {\n    // Ignorar y probar el siguiente\n  }\n}\n\nif (!src) {\n  throw new Error('No se pudo encontrar el nodo \"Normalizar y Preparar Archivos\". Verifica que el nombre sea EXACTAMENTE ese (sin espacios extra).');\n}\n\nif (!src.binary || !src.binary.id_front) {\n  throw new Error('No se encontró el binario \"id_front\". Asegúrate de que el nodo anterior esté procesando la imagen correctamente.');\n}\n\nreturn {\n  json: {\n    ...src.json,\n    guestFolderId,\n  },\n  binary: src.binary,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        96
      ],
      "id": "8cf020e2-38ae-4345-8ed2-6f5fd6ef5fbc",
      "name": "Adjuntar guestFolderId (preservar binary)"
    },
    {
      "parameters": {
        "jsCode": "// Split Huéspedes (Code)\n\nconst results = [];\n\nfor (const item of $items()) {\n  const body = item.json.body;\n  if (!body || !Array.isArray(body.clients) || body.clients.length === 0) {\n    throw new Error('body.clients debe ser un array con al menos un huésped');\n  }\n\n  for (const client of body.clients) {\n    results.push({\n      json: {\n        ...item.json,\n        body: {\n          ...body,\n          client,          // ← cliente actual en body.client\n        },\n      },\n    });\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        96
      ],
      "id": "28b01886-fa2d-451f-af48-5720119448eb",
      "name": "Split Huéspedes (Code)"
    },
    {
      "parameters": {
        "jsCode": "// Inyectar bookingFolderId SIN perder body del Webhook\n\nconst webhookItem = $items('Webhook (Recibe Datos App)')[0].json; // ajusta el nombre exacto de tu nodo webhook\nconst bookingFolderId = $json.id; // id de la carpeta creada en Drive\n\nreturn [{\n  json: {\n    ...webhookItem,\n    bookingFolderId,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        96
      ],
      "id": "b238168b-8e10-4244-8a2d-ab698ce369ba",
      "name": "Inyectar bookingFolderId"
    },
    {
      "parameters": {
        "inputDataFieldName": "id_front",
        "name": "={{ $binary.id_front.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.guestFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        96
      ],
      "id": "6828d39c-2f0e-44f1-874e-c193f587668c",
      "name": "Subir documento",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ctDxPAowP3WzS7N2",
          "name": "Google Drive n8n"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"ok\": true, \"message\": \"Registro completado exitosamente.\" }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1184,
        96
      ],
      "id": "e7d0f287-2250-4fbe-86b9-6fbbf7911eb5",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Recibe Datos App)": {
      "main": [
        [
          {
            "node": "Crear Carpeta Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Carpeta Reserva": {
      "main": [
        [
          {
            "node": "Inyectar bookingFolderId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar y Preparar Archivos": {
      "main": [
        [
          {
            "node": "Crear Carpeta Huesped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Carpeta Huesped": {
      "main": [
        [
          {
            "node": "Adjuntar guestFolderId (preservar binary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjuntar guestFolderId (preservar binary)": {
      "main": [
        [
          {
            "node": "Subir documento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Huéspedes (Code)": {
      "main": [
        [
          {
            "node": "Normalizar y Preparar Archivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inyectar bookingFolderId": {
      "main": [
        [
          {
            "node": "Split Huéspedes (Code)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Sheets": {
      "main": [
        [
          {
            "node": "Enviar Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir documento": {
      "main": [
        [
          {
            "node": "Guardar en Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Confirmacion": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b0e14092-6847-42fe-bfc0-1d8c7cbd21d6",
  "meta": {
    "instanceId": "b13d7b9513abd41bc37c09903165a24193e0fee7979e875daa749cddead84d0e"
  },
  "id": "PtK1jpp3JpEgTCro",
  "tags": []
}